Request type: 

GET /api/-get all series 

GET /api/series/:id get a specific series 

GET /api/network/:search get all shows from a specific network

Path

Description

Gets all movies from the API

Example output:

Paste const series = [{
    id: '1',
    network: 'Netflix',
    title: 'American Horror Story',
    createdBy: 'Ryan Murphy and Brad Falchuk',
    synopsis: 'An American anthology horror series with each season conceived as a self-contained miniseries, following a different set of characters and settings, and a story line with its own "beginning, middle, and end"',
    seasons: '9',
}, {
    id: '2',
    network: 'Showtime',
    title: 'Penny Dreadful',
    createdBy: 'John Logan',
    synopsis: 'A British-American horror drama series ',
    seasons: '3',
}, {
    id: '3',
    network: 'Netflix',
    title: 'The Haunting of Hill House',
    createdBy: 'Mike Flanagan',
    synopsis: 'An American supernatural horror drama series loosely based on the 1959 novel of the same name by Shirley Jackson',
    seasons: '1',
}, {
    id: '4',
    network: 'HBO',
    title: 'Sharp Objects',
    createdBy: 'Marti Noxon',
    synopsis: 'An American supernatural horror drama series loosely based on the 1959 novel of the same name by Shirley Jackson',
    seasons: '1',
   
}]
